<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="icon" href="img/icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <meta charset="utf-8">
<title>Loanies</title>
</head>
<body>
  <div id="product">
      <h3 style="text-align: center; margin-top: 5%">Your Shooping Cart</h3>
      <!-- <navbars @cat="filterCategory" :total="total"></navbars> -->
    <div class="container">
      <div class="row col-md-8" style="margin-left: 20%">
        <table class="table" style="width: 100%; margin-top: 5%">
          <thead>
              <tr>
              <th text-align="center">Image</th>
              <th text-align="center">Price</th>
              <th text-align="center">Brand</th>
              <th text-align="center">Category</th>
              <th text-align="center">Description</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="x in cart">
                <td><img v-bind:src="x.imgurl" class="img" style="width:50%; margin-left: 25%"></td>
                <td>{{x.price}}</td>
                <td>{{x.brand}}</td>
                <td>{{x.category}}</td>
                <td>{{x.description}}</td>
              </tr>
              <tr>
                <td text-align="center">Total price:</td>
                <td text-align="center">{{totalBuy}}</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td text-align="center">Total Item:</td>
                <td text-align="center">{{totalItem}}</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <h3 style="text-align: center">Delivery address:</h3>
      <div class="row col-md-8" style="margin-left: 20%">
          <form class="col-md-12">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputName">Name</label>
                  <input type="text" v-model="name" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEmail">Email</label>
                  <input type="email" v-model="email" class="form-control" placeholder="Email..">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" v-model="address" class="form-control" placeholder="Adress..">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" v-model="city" placeholder="City..">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select v-model="state" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Jaksel">Jakarta Selatan</option>
                    <option value="Jakut">Jakarta Utara</option>
                    <option value="Jakbar">Jakarta Barat</option>
                    <option value="Jaktim">Jakarta Timur</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label for="inputZip">Zip Code</label>
                  <input type="text" class="form-control" v-model="zipcode">
                </div>
              </div>
              <button type="submit" @click.prevent="checkout" class="btn btn-primary">Checkout</button>
            </form>
      </div>
    </div>
  </div>
  <script src="checkout.js"></script>
  <script src="navbar.js"></script> <!-- call component for navbar -->
</body>
</html>