.column {
    float: center;
    width: 25%;
    padding: 5px;
}
input[type=file] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
}
img {
    box-shadow: 0 4px 8px 0 rgba(98, 226, 87, 0.2), 0 6px 20px 0 rgba(206, 38, 38, 0.19);
    padding: 7px;
    border: 1px solid purple
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}